body {
  background-color: rgb(208,208,208);
}

.container {
width: 3020;
height: 320;;
	padding: 5px;
	margin: 0 auto;
	position: relative;
}

.innerDims {
 width:240;
 height:300;
}

.divElem {
top: 0;
left: 0;
  position: absolute;
 width:240;
 height:300;
}

#view {
 z-index: 5;	
}

#capture {
  z-index: 10;
}
