<html>


	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Is this a Shoe?</title>
		<link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">

		<script type="application/javascript">



			function FileUpload( file) {
				const self = this;
				var formData = new FormData();
				formData.append("file", file, file.name);
				fetch(`/uploadfile/`, {
					method: "POST",
					body: formData,
				}).then( async(response) =>  {var a = await response.json(); document.getElementById('outputTxt').innerHTML = a.classification }, function(data){ console.log(data)})
			}
		</script>


	</head>
	<body>


		<div id="headline">
			<header>
				<h1>Oxford or Trainer?</h1>
				<p></p>
			</header>
		</div>
		<div id="view">

			<video id="player" autoplay width=320 height=240></video>
		</div>
		<div id="btnCapture">
			<button id="capture">Capture</button>
		</div>
		<div id="captured">
			<canvas id="canvas" width=320 height=240></canvas>
		</div>
		<div id="outputLabel">
			<h2>These are:</h2>
		</div>
		<div id="output">
			<h3 id='outputTxt'>  </h3>
		</div>
		<div>
			<input type="file" accept="image/*" id="file-input">
			<script>
				const fileInput = document.getElementById('file-input');
console.log("Running here");
fileInput.addEventListener('change', (e) => FileUpload(e.target.files[0]));
//fileInput.addEventListener('sendFile', (e) => sendFile(e.target.files));



const player = document.getElementById('player');
const canvas = document.getElementById('canvas');
const context = canvas.getContext('2d');
const captureButton = document.getElementById('capture');

const constraints = {
	video: true,
	facingMode: 'environment'
};

captureButton.addEventListener('click', () => {
	// Draw the video frame to the canvas.
	context.drawImage(player, 0, 0, canvas.width, canvas.height);
	canvas.toBlob(FileUpload)
});

// Attach the video stream to the video element and autoplay.
navigator.mediaDevices.getUserMedia(constraints)
	.then((stream) => {
		player.srcObject = stream;
	});

			</script>
		</div>





</html>
