<html>


	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Is this a Shoe?</title>
		<link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">

		<script type="application/javascript">



			function FileUpload( file) {
				const self = this;
				var formData = new FormData();
				formData.append("file", file, file.name);
				fetch(`/uploadfile/`, {
					method: "POST",
					body: formData,
				}).then( async(response) =>  {var a = await response.json(); document.getElementById('outputTxt').innerHTML = a.classification }, function(data){ console.log(data)})
			}
		</script>


	</head>
	<body>


		<div id="headline">
			<header>
				<h1>Oxford or Trainer?</h1>
				<p></p>
			</header>
		</div>
		<div class='container'>
			<div class="divElem" id="view" >
				<video id="player" class="innerDims" autoplay ></video>
			</div>
			<div class="divElem" id="capture"  >
				<canvas id="canvas" class="innerDims" ></canvas>
			</div>
		</div>
		<div id="divBtnCapture" >
			<button id="btnCapture">Capture</button>
		</div>
		<div id="outputLabel">
			<h2>These are:</h2>
		</div>
		<div id="output">
			<h3 id='outputTxt'>  </h3>
		</div>
		<div>
			<input type="file" accept="image/*" id="file-input">
			<script>
				const fileInput = document.getElementById('file-input');
console.log("Running here");
fileInput.addEventListener('change', (e) => FileUpload(e.target.files[0]));
//fileInput.addEventListener('sendFile', (e) => sendFile(e.target.files));



const player = document.getElementById('player');
const canvas = document.getElementById('canvas');
const context = canvas.getContext('2d');
const captureButton = document.getElementById('btnCapture');

const constraints = {
	video:{
		facingMode:  'environment',
		width: {exact: 300},
		height: {exact: 240},
		resizeMode: 'none'
		}
};

captureButton.addEventListener('click', () => {
	console.log('running here')
	// Draw the video frame to the canvas.
	context.drawImage(player, 0, 0, canvas.width, canvas.height);
	canvas.toBlob(FileUpload)
});

function gotDevices(deviceInfos) {
console.log("gotDevices");
	for (var i = 0; i !== deviceInfos.length; ++i) {
		var deviceInfo = deviceInfos[i];
		var option = document.createElement('option');
		option.value = deviceInfo.deviceId;

		if (deviceInfo.kind === 'videoinput') {
			var txt =  'Camera:' + deviceInfo.label;
		}


	}
}



navigator.mediaDevices.enumerateDevices().then(gotDevices);

// Attach the video stream to the video element and autoplay.
navigator.mediaDevices.getUserMedia(constraints)
	.then((stream) => {
		player.srcObject = stream;
	});

			</script>
		</div>





</html>
